<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techno.player2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="UconTV"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main_windows.TeleDetailActivityVlc"
            android:exported="false" />
        <activity
            android:name=".main_windows.SearchPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".main_windows.MoviePlayPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".main_windows.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".main_windows.CategoryPage"
            android:exported="false" />
        <activity
            android:name=".main_windows.OtpActivity"
            android:exported="false"/>
        <activity
            android:name=".main_windows.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main_windows.RegisterPrivateActivity"
            android:exported="false" />
        <activity
            android:name=".main_windows.Logo_Activity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_windows.TeleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main_windows.ProfilePage"
            android:exported="false" />
    </application>

</manifest>